/*
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version. 
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.main-box {
    height: 36em;
}

.left-scroll-area {
    width: 20em;
}

.left-box {
    width: 20em;
}

.right-box {
    width: 18em;
}

.search-box-padding {
    padding-top: 1em; 
    padding-left: 1em;
    padding-right: 0.25em;
}
/* Style to add padding to the menu's app section */
.apps-menu:ltr {
    padding-right: 0.1875em;
}

.apps-menu:rtl {
    padding-left: 0.1875em;
}
