Source: gnome-shell-extension-zorin-menu
Section: gnome
Priority: optional
Maintainer: Artyom Zorin <azorin@zoringroup.com>
Build-Depends: debhelper (>= 9), gettext, libglib2.0-bin
Standards-Version: 3.9.6

Package: gnome-shell-extension-zorin-menu
Architecture: all
Depends: gnome-shell (<< 3.19), gnome-shell (>= 3.10), ${misc:Depends}
Description: Zorin Menu extension
 The official applications menu for Zorin OS.
